<div style="text-align: center;">
<h1>About</h1>
<br>
<h2>Some information about this app.</h2> </div>
<br>
<h3>This application is a kind of social network for math tasks. Create your own tasks, solve someone else's, mark the ones you like and write comments.<br><br>Good luck!</h3>

<br><br>
<div style="text-align: center;">
	<img src= <%= asset_path('about.jpg') %>>
</div>